@charset "UTF-8";
@media print {
    nav { display: none; }
    #infobar { display: none; }
    footer { display: none; }

    a {
        color: inherit;
        text-decoration: none;
    }

    html, body {
        font-family: serif;
        font-size: 11pt;
        color: black;
        background-color: white; 
    }

    header {
        display: block;
        border: thin solid black;
        margin: 0;
        margin-bottom: 2em;
        height: 4em;
        padding: 1em .5em;
        text-align: center; 
    }

    header h1 {
        font-weight: bold; 
    }

    main h2 {
        display: block;
        margin: 1em 0 2em 0;
        text-align: center;
        font-size: 140%;
        font-weight: bold;
        font-family: sans;
    }

    main h3 {
        display: block;
        margin: 2em 0 1em 0;
        font-size: 120%;
        font-weight: bold;
        font-family: sans;
    }

    main p {
        text-align: justify;
        hyphens: auto;
        margin: 1em 0; 
    }

    main a[href^="http"]:after {
        font-size: 80%;
        hyphens: none;
        content: " [" attr(href) "] "; 
    }
}
